@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    position: absolute;
    font-family: 'Press Start 2P', monospace;
    color: white;
    z-index: 10;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
    letter-spacing: 2px;   
}

hr {
    position: absolute;
    top:10%;
    width: 100%;
    border: none;
    border-top: 2px solid #444;
    margin: 10px 0;
}

canvas {
    image-rendering: pixelated;
}

img {
    image-rendering: pixelated;
}

h2 {
    font-family: 'Press Start 2P', monospace;
    color: white;
    align-self: center;
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#gato-btn {
  background: none;
  border: none;
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 100px;
  opacity: 0;
  pointer-events: none;
}

#gato-canva {
  width: 100%;
  height: auto;
  display: block;
  opacity: inherit;
}

#button-container {
  left: 40%;
  top: 45%;
  /*transform: translateY(-50%);*/
  position: absolute;

}

#Earth-btn {
    position: absolute;
    width: 30%;
    height: 50%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Earth-canvas {
    width: 500px;
    height: 500px;
    display: block;
}

#puntuacion {
    font-size: 24px;
    top: 20px;
    left: 30px;
    position: fixed
}

#menu-title {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

#shop-menu {
    position: absolute;
    display: block;
    top: 50%;
    width: 25%;
    height: 80%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 10;
    background-color: white;
}

#textcontainer {
    position: absolute;
    width: 40%;
    height: auto;
    left: 18%;
    top: 70%;
    opacity: 0;
    pointer-events: none;
}

#textbox {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    height: auto;
}

#textC {
    z-index: 10;
    top: 0;
    left: 0;
    position: absolute;
}

.fondo {
    top: 90%;
    left: 10%;
    width: 60%;
    height: 3%;
    background-color: #3a3f4b;
    position: absolute;
    z-index: 9;
    border: 2px solid black;
    border-radius: 10px
}

.status {
    border-radius: 5px;
    background-color: #f5e8c7;
    width: 0%;
    height: 100%;
    z-index: 10;
    position: relative;
}

.mejora-btn {
    position: absolute;
    width: 90%;
    height: 75px;
    margin: 10px auto;
    margin-left: 2.5%;

    font-family: 'Press Start 2P', monospace;
    font-size: 14px;
}

.menu-button {
    position: fixed;
    top: 45%; 
    left: 25px;
    
    background-color: #171920; 
    color: white;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(151, 141, 141, 0.992) ;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.menu-container {
    position: fixed;
    top: 30%;
    left: 25%;
    right: 25%;

    width: 50%;
    height: 40%;
    background-color: #171920;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.menu-item {
    margin: 25px 10%;
    height: 30%;
    text-decoration: none;
    color: #ffffff;
    background-color: #131418;
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #3a3f4d;
}

.login-in {
    width: 80%;
    height: 50px;
    margin: 25px 10%;
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    align-self: center;
    align-items: center;
    background-color: #131418;
}

.button-login {
    width: 25%;
    height: 50px;
    align-self: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 25px;
    background-color: #131418;
    font-size: 20px;
    color: white;
    font-family: 'Press Start 2P', monospace;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.block-interactions {
    background-color: #000000ac;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 999;
}

.hidden {
    display: none;
}

.session-data {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    position: absolute;
    left: 73%;
    top: 3%;
    color: white;
    text-decoration: none;
}

.stats {
    padding-left: 50px;
}

.p-stats {
    margin-top: 8%;
    line-height: 30px;
    height: auto;
    color: #ffffff;
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
    font-weight: 600;
}

.h4-stats {
    margin-top: 25%;
    color: #ffffff;
    font-size: 20px;
}

.second {
    margin-left: 20px;
    margin-top: 29%;
    font-size: 14px;
    line-height: 23px;
}
