@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    position: absolute;
    font-family: 'Press Start 2P', monospace;
    color: white;
    z-index: 10;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
    letter-spacing: 2px;   
}

hr {
    position: absolute;
    top:10%;
    width: 100%;
    border: none;
    border-top: 2px solid #444;
    margin: 10px 0;
}

canvas {
    image-rendering: pixelated;

}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#button-container {
  left: 40%;
  top: 45%;
  /*transform: translateY(-50%);*/
  position: absolute;

}

#Earth-btn {
    position: absolute;
    width: 30%;
    height: 50%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Earth-canvas {
    width: 500px;
    height: 500px;
    display: block;
}

#puntuacion {
    font-size: 24px;
    top: 20px;
    left: 30px;
    position: fixed
}

#menu-title {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

#shop-menu {
    position: absolute;
    display: block;
    top: 50%;
    width: 25%;
    height: 90%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 9;
    background-color: white;
}

.fondo {
    top: 90%;
    left: 10%;
    width: 60%;
    height: 3%;
    background-color: #3a3f4b;
    position: absolute;
    z-index: 10;
    border: 2px solid black;
    border-radius: 10px
}

.status {
    border-radius: 5px;
    background-color: #f5e8c7;
    width: 0%;
    height: 100%;
    z-index: 9;
    position: relative;
}

.mejora-btn {
    position: absolute;
    width: 90%;
    height: 75px;
    margin: 10px auto;
    margin-left: 2.5%;

    font-family: 'Press Start 2P', monospace;
    font-size: 14px;
}
